* {
    box-sizing: border-box;
  }

body {
    background: linear-gradient( rgb(149,149,154) 0%, rgb(236,236,241) 45%, rgb(124, 177, 177) 100%);
    z-index: -2;
    overflow-x: hidden;
}

main {
    position: absolute;
    left: 50%;
    top: 15%;
    width: min(100%, 1000px);
    transform: translateX(-50%);
}

h1 {
    font-family: 'Trocchi';
    color: rgb(11, 59, 53);
    font-size: 35px; 
    padding: 5px;
    text-align: center;
    font-weight: normal;
    vertical-align: middle;
    border: medium dotted;
}

.barchart {
    width: 100%;
    height: 600px;
    border: thin dotted rgb(141, 139, 139);
    fill: teal;
}

.title {
    fill:black;
    font-size: 15pt;
}

.grid line {
    stroke: rgba(28, 35, 39, 0.74);
    stroke-opacity: 0.3;
    pointer-events: none;
}

.axisLabel {
    fill: black;
}

.highlight {
    fill: rgb(65, 9, 65);
    transition: all 0.5s linear;
}

.val {
    fill: white;
    pointer-events: none;
    text-align: center;
}

.icon {
    overflow: hidden;
    position: absolute;
    width: 70vh;
    height: 65vh;
    right: 0;
    top: 0;
    z-index: -1;   
}

.coronavirus-circle{
    position: relative;
    left: 20vh;
    height: 50vh;
    z-index: -2;
    background: 
    radial-gradient(50vh 50vh at 50% 40%, rgb(159, 189, 185) 10%,rgb(29, 145, 135) 45%, rgb(22, 116, 108)  50%, transparent 51%);
}

.coronavirus-arms-back,
.coronavirus-arms-back::after {
    position: relative;
    left: 7vh;
    top: -40vh;
    width: 90vh;
    height: 17vh;
    z-index: -4;
    background:
    radial-gradient(10vh 10vh, ivory 0%, rgb(29, 145, 135) 50%, transparent 51% ) 6vh 2vh / 10vh 10vh no-repeat,
    radial-gradient(10vh 10vh, ivory 0%, rgb(29, 145, 135) 50%, transparent 51% ) 76vh 2.5vh / 10vh 10vh no-repeat,
    radial-gradient(80vh 9vh at 50% 0, transparent 50%, rgb(29, 145, 135) 52%, ivory) 8vh 1.5vh / 70vh 6vh no-repeat,
    radial-gradient(80vh 9vh at 50% 100%, transparent 50%, rgb(29, 145, 135) 52%, ivory) 8vh 7.3vh / 70vh 6vh no-repeat;
    transform: rotate(22deg);
    font-size: 200px;
}

.coronavirus-arms-back::after {
    display: block;
    left: 2%;
    top: -0%;
    content: "";
    transform: rotate(65deg);
}

.coronavirus-arms-front,
.coronavirus-arms-front::after {
    position: relative;
    left: -26vh;
    top: -13vh;
    width: 80vh;
    height: 13vh;
    z-index: -1;
    background:
    radial-gradient(8vh 8vh, ivory 0%, rgb(29, 145, 135) 50%, transparent 50% ) 4vh 2.5vh / 10vh 10vh no-repeat,    
    radial-gradient(150vh 8vh at 50% 0, transparent 50%, rgb(29, 145, 135) 52%, ivory) 1vh 1.5vh / 11vh 6vh no-repeat,
    radial-gradient(150vh 8vh at 50% 100%, transparent 50%, rgb(29, 145, 135) 52%, ivory) 1vh 7.3vh / 10vh 6vh no-repeat;    
    transform:rotate(133deg);
    font-size: 400px;
}

.coronavirus-holes {
    position: relative;
    left: 31vh;
    top: -55.5vh;
    width: 15vh;
    height: 15vh;
    z-index: -2;
    background:
    radial-gradient(6vh 8vh, rgb(4, 41, 32) 0%, rgb(15, 155, 136) 50%, transparent 50% ) 4vh 2.5vh / 10vh 10vh no-repeat;
    transform:rotate(-30deg);
}

.coronavirus-holes2 {
    position: relative;
    left: 31.4vh;
    top: -70.0vh;
    width: 15vh;
    height: 15vh;
    z-index: 1;
    background:
    radial-gradient(1vh 3.1vh, rgb(8, 80, 62) 50%, transparent 100% ) 4vh 2.5vh / 10vh 10vh no-repeat;
    transform:rotate(-50deg);
}


.button-container {
    position: absolute;
    padding: 27px;
    width:320;
    right: 0;
}

button {
    font-size: 14px;
    font-weight: bold;
    background-image: linear-gradient(to bottom right, rgb(12, 41, 37) 0% , rgb(11, 59, 53) 30%,  rgb(72, 148, 139) 100%);
    border-style: ridge;
    border-color: rgb(18, 141, 127);
    border-width: thick;
    color: rgba(236,236,241,1);
    border-radius: 8px;
}

button:active {
    border-color: rgb(25, 36, 35);
}

button:hover {
    opacity: 0.7;
    color: black;
}

button:focus {
    outline: none;
    box-shadow: 10px 1px 20px rgb(90, 243, 210), -15px 10px 20px white ;
}

.date {
    fill: black;
    font-size: 8pt;
}

footer {
    position: absolute;
    width: 100%;
    text-align: center;
    bottom: 15;
}

    