
body{
    font-family: serif;
    background-color: #f2f2f3;
    }

h1 {
    font-size: 150%;
}
text.title{
    font-size: 18px;
    
    }

text.subTitle{
    font-size: 10px;
      font-weight: 500;
      fill: #777777;
    }
    svg {
        border: thin dotted darkgrey;
    }
    svg.defs-only {
        display:block; position: absolute; 
        height:0; width:0; margin: 0; padding: 0; 
        border: none; overflow: hidden;
    }
    